In [3]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 468.9 kB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
plt.rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

In [21]:
house = pd.read_excel('../raw_data/주택가격지수.xlsx', header=2, index_col='Unnamed: 0')
house = house.iloc[:-5]
house.index = pd.to_datetime(house.index)
house.replace('-', np.nan, inplace=True)
house

/Users/minkyuramen/anaconda3/envs/hoxi_algorithm/lib/python3.10/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

               전국    수도권     지방
1986-01-01   31.7    NaN    NaN
1987-01-01   34.0    NaN    NaN
1988-01-01   38.5    NaN    NaN
1989-01-01   44.1    NaN    NaN
1990-01-01   53.4    NaN    NaN
1991-01-01   53.1    NaN    NaN
1992-01-01   50.4    NaN    NaN
1993-01-01   49.0    NaN    NaN
1994-01-01   48.9    NaN    NaN
1995-01-01   48.8    NaN    NaN
1996-01-01   49.6    NaN    NaN
1997-01-01   50.5    NaN    NaN
1998-01-01   44.3    NaN    NaN
1999-01-01   45.8   38.9    NaN
2000-01-01   46.0   39.8    NaN
2001-01-01   50.5   45.4    NaN
2002-01-01   58.8   55.3    NaN
2003-01-01   61.0   55.4   67.8
2004-01-01   59.5   53.6   66.7
2005-01-01   61.7   56.2   68.3
2006-01-01   68.8   67.7   69.7
2007-01-01   72.8   74.7   70.1
2008-01-01   77.1   81.7   71.5
2009-01-01   78.3   82.7   72.7
2010-01-01   79.4   81.2   76.7
2011-01-01   84.3   81.9   86.5
2012-01-01   83.1   78.3   87.6
2013-01-01   83.3   77.4   89.1
2014-01-01   84.8   78.6   90.8
2015-01-01   87.7   82.0   93.3
2016-01-01   88.4   83.1   93.4
2017-01-01   89.7   85.1   94.1
2018-01-01   90.6   87.9   93.3
2019-01-01   90.3   88.3   92.2
2020-01-01   95.2   94.0   96.2
2021-01-01  104.6  106.1  103.3
2022-01-01   99.7   99.2  100.2

In [25]:
house.to_csv('../preprocess_data/house.csv')